{% load static %}
{% load filters %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de cada pagina con bloques -->
    <title>
        {% block title %}
        {% endblock %}
        | Manuel Ríos
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <body>
        <!--Cabecera de la página-->
        <header>
            <div id="logotipo">
                <!--Logo Django-->
                <img src="{% static 'images/logo.png' %}" alt="Logotipo">
                <h1>Sitio Web con Django</h1>
            </div>
        </header>
        <nav id="menu">
            <ul>
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'articulos' %}">Articulos</a></li>
                <li><a href="{% url 'hola_mundo' %}">Hola Mundo</a></li>
                <li><a href="{% url 'pagina' %}">Página</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>

        <div id="content">
            <div class="box">
                {% block content %}
                    <!--Código que viene de templates-->
                    <strong>Contenido por defecto</strong>
                {% endblock %}
            </div>
        </div>
        <footer>
            <p>Master en Python</p>
            <p>Desarrollado por ManRio &copy; - {% now "Y" %} </p>
        </footer>
    </body>
</html>