{% extends "layouts/layout.html" %}
{% block title %} {{title}} {% endblock %}

{% block content %}

<h1>{{title}}</h1>

<p>Bienvenidos a nuestro sitio web desarrollado con Django. Aquí encontrarás información relevante sobre nuestro proyecto y el equipo detrás de él.</p>
<hr/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-succes">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if user.email %}
    <h2> Bienvenido {{ request.user.first_name }} {{ user.last_name }} </h2>
    <p>
        {{ user.email}}
    </p>
    {% else %}
    <h2> Identificate para ver más cosas </h2>
    {% endif %}

{% endblock %}